
*{
	margin:0; padding:0; box-sizing:border-box;
	font-family:helvetica;
	}
	body{
		background:url(k2.jpg); background-size:cover;background-repeat:repeat; 
	}
	
	
	h1 {color:rgb(240, 243, 244,.99); background-color:#9C640C; border-bottom:7px solid #311B26; 
}
	
	.box{color:rgb(240, 243, 244,.99);font-weight:bold; background-color:#797D7F; padding-top:7px;
	font-size:20pt; border-bottom:5px solid #311B26;

	} 
	
	
	
	.main {
		width:85%;
		max-width:450px; margin:90px
		auto; border:3px solid #bdc143c;
		border-radius:10px;
		background-color:#797D7F; padding-top:7px;padding-left:6px; padding-bottom:7px;
		border-left:35px solid #1B2631; border-top:5px solid #1B2631;   
		box-shadow:2px 10px #000;
		}
	
	.inp{
				
					width:220px;  
					padding:10px; margin-bottom:10px; border:5px soild #dc143c; font-weight:bold;border-right:20px solid #311B26;border-left:20px solid #311B26;
				
				color:black;
				border-radius:2px; background:linear-gradient(#D5D8DC,#797D7F);color:black; font-size:15px;
				
				
			}
	
	label{
		color:rgb(240, 243, 244,.99);font-weight:bold;
		
	}
		
	.sub-btn{
		width:200px; padding:10px;`	margin-top:5px; border:none; border-radius:5px;	
		background-color:rgb(44, 62, 65,.45);color:rgb(240, 243, 244,.99); font-size:15px; 
		font-weight:bold; cursor:pointer;		
	border:2px solid black ;	
		
	}
	.sub-btn:hover{background:linear-gradient(#0033CC,#8596ed);transition all ease-out-in:0.3; opacity:0.3;
	filter:alpha(opacity=20);
	}
	@media (max-width:)